body {
  margin: 0;
  background: #c40000;
  font-family: 'Poppins', sans-serif;
  color: white;
}

header {
  text-align: center;
  padding: 20px;
  font-family: 'Baloo 2', cursive;
  font-size: 24px;
}

.container {
  padding: 20px;
}

h2 {
  font-family: 'Baloo 2', cursive;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
}

.options label {
  display: block;
  margin: 5px 0;
}

button {
  width: 100%;
  padding: 15px;
  background: #ffcc00;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}
